body {
    font-family: "Courier New", sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
}

#container {
    width: 400px;
    height: 400px;
    background-color: #444;
}

.bar {
    background-color: white;
    position:absolute;
}

.circle {
    position:absolute;
    border-radius: 50%;
    background-color:white;
}